{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "ecmascript": 6
    },
    "plugins": [
        "es6-recommended"
    ],
    "rules": {
        "quotes": [2, "single"],
        "eol-last": [0],
        "no-mixed-requires": [0],
        "no-underscore-dangle": [0]
    }
}

