@import './infobox.scss';
// @import './searchbox.less';
@import './legend.scss';


.d3-playbooks {

  // for line hovering
  .focus {
    circle {
      fill: steelblue;
      r: 4;
    }
  }

  // helpers
  .-empty {
    display: none;
  }
}
