.d3-playbooks__searchbox {
  position: absolute;
  font-size: @font-size-small;

  input {
    color: @black;
    width: 200px;
  }

  label {
    font-style: italic;
    font-weight: normal;
  }

  &__fail-message {
    // width: 100%;
    padding: @base-padding;
    border: 1px solid @gray-light;
    background: rgba(255, 255, 255, .8);
  }

  &__result-list {
    width: 100%;
    margin: @base-padding/2 0;
    padding: 0;
    border: 1px solid @gray-light;
    background: rgba(255, 255, 255, .8);

    li {
      list-style: none;
      padding: @base-padding/2 @base-padding;

      &:hover {
        background-color: @gray-lighter;
        cursor: pointer;
      }
    }
  }
}
